@font-face {
    font-family: "Manrope";
    font-weight: 400;
    src: url(../fonts/Manrope-Regular.ttf) format(truetype);
}
@font-face {
    font-family: "Manrope";
    font-weight: 600;
    src: url(../fonts/Manrope-SemiBold.ttf) format(truetype);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {
    --color-white: #FFFFFF;
    --colo-gray1: #333333;
    --colo-gray2: #989898;
    --colo-gray3: #BDBDBD;
    --colo-gray4: #E0E0E0;
    --colo-gray5: #F1F1F1;
    --colo-gray6: #FAFAFA;
    --color-blue: #2F80ED;
    --color-green: #27AE60;
    --color-green-hover: #1F8B4D;
    --color-green-active: #196F3E;
    --color-green-light: #ECF9F2;
    --color-red: #EB5757;
    --color-red-hover: #FF8686;
    --color-red-active: #D32828;
    --color-red-light: #FEEDED;
    --color-orange: #F2994A;
    --color-orange-hover: #FFB26D;
    --color-orange-active: #EE7F1C;
    --color-orange-light: #FEF5ED;
    --color-yellow: #FFB800;
    --color-yellow-light: #F9F5EC;
    --font-primary: "Manrope";
    --transition: 260ms ease-out;
    --box-shadow-primary: 0px 8px 32px rgba(12, 16, 24, .12)
}

body {
    font-family: var(--font-primary);
    background-color: var(--color-green-light);
}
body.no-scroll {
    overflow: hidden;
}

h1.title {
    font-family: var(--font-primary);
    font-weight: 600;
    font-size: 32px;
}
h2.title {
    font-family: var(--font-primary);
    font-weight: 600;
    font-size: 24px;
}
p.text-l {
    font-family: var(--font-primary);
    font-weight: 400; 
    font-size: 24px;   
}
p.text-m {
    font-family: var(--font-primary);
    font-weight: 400;  
    font-size: 20px;  
}
p.text-desc {
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 16px;
}
p.text-s {
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 14px;
}
.c-gray {
    color: var(--colo-gray3);
}
.c-green {
    color: var(--color-green);
}

 



.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container.round {
    background-color: var(--color-white);
    border-radius: 15px;
    padding: 20px;
}
.location-select  {
    position: relative;
}
.location-select-head {
    cursor: pointer;
    min-width: 155px;
}
.location-select-head .location::after {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    background-image: url(../images/icons/select-arrow.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px;
    position: relative;
    top: 3px;
    left: 4px;
}
.location-select-dropdown__item {
    cursor: pointer;
}
.location-select-dropdown {
    position: absolute;
    top: 30px;
    left: 0;
    color: var(--color-green);
    list-style: none;
    white-space: nowrap;
    background-color: var(--color-white);
    border: 1px solid var(--color-green);
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
}
.location-select.active .location-select-dropdown {
    pointer-events: all;
    opacity: 1;
    visibility: visible;
}
a.phone {
    text-decoration: none;
    color: var(--color-green);
}
.header-action-basket {
    min-width: 36px;
    height: 36px;
    position: relative;
    cursor: pointer;
    border-radius: 100%;
    border: 1px solid var(--color-green);
}
.header-action-basket .basket-count {
    min-width: 13px;
    height: 13px;
    display: block;
    position: absolute;
    font-weight: 600;
    border-radius: 100%;
    bottom: 0;
    right: 0;
    background-color: var(--color-white);
    border: 1px solid var(--color-green);
    font-size: 8px;
    line-height: 12px;
    padding-left: 1px;
}
.header-action-profile {
    border: 1px solid var(--color-green);
    border-radius: 100px;
    text-decoration: none;
    cursor: pointer;
}
.navigation {
    list-style: none;
    padding: 0;
}
.header .navigation {
    border-top: 1px solid var(--colo-gray4);
    padding: 24px 0 0;

}
.navigation__item {
    color: var(--colo-gray3);
    padding-bottom: 16px;
    cursor: pointer;
    transition: var(--transition);
}
.navigation__item:hover {
    color: var(--color-green);
}
.navigation__item.active {
    color: var(--color-green);
    border-bottom: 1px solid var(--color-green);
}
.burger-button {
    width: 36px;
    height: 36px;
    border: 1px solid var(--color-green);
    border-radius: 100%;
    background-image: url(../images/icons/burger-icon.svg);
    background-position: center center;
    background-repeat: no-repeat;
}
.burger-button.active {
    background-image: url(../images/icons/modal-close-icon.svg);
}
.main-image {
    border-radius: 15px;
    overflow: hidden;
}
.swap-select {
    padding: 2px;
    border-radius: 50px;
    border: 1px solid var(--colo-gray4);
    width: fit-content;
    background-color: var(--color-white);
}
.swap-select__item {
    border-radius: 50px;
    color: var(--colo-gray1);
    transition: var(--transition);
    font-size: 24px;
    padding: 0 8px;
    cursor: pointer;
}
.swap-select__item.active {
    color: var(--color-green);
    background-color: var(--color-green-light);
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

.modal-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(50, 50, 50, .3);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    /* transition: var(--transition); */
}
.modal-wrapper.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
.modal-block {
    width: 100%;
    margin: 50px auto;
    border-radius: 15px;
    padding: 30px;
    background-color: var(--color-white);
}
.modal-block.specialist {
    max-width: 800px;

}
.modal-block.authorize {
    max-width: 500px;
}
.modal-close {
    margin-left: auto;
    width: 16px;
    height: 16px;
    border: none;
    background-color: transparent;
    display: flex;
    align-content: center;
    justify-content: center;
}
.search-item {    
    width: 100%;
    min-width: 441px;
}
.search-item .search {
    padding: 15px 41px 13px 15px;
    max-width: 441px;
    width: 100%;
    background-image: url(../images/icons/search-icon.svg);
    background-size: 16px 16px;
    background-position: center right 15px;
    background-repeat: no-repeat;
    background-color: var(--colo-gray6);
    border: none;
    outline: none;
}
.search-item .search::placeholder {
    color: var(--colo-gray3);
}
.primary-input {
    padding: 11px 15px 10px 15px;
    width: 100%;
    background-color: var(--colo-gray6);
    border: none;
    outline: none;
}
.primary-input::placeholder {
    color: var(--colo-gray3);
}
.filter-select-head {
    cursor: pointer;
}
.filter-select-head::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 6px;
    background-image: url(../images/icons/filter-icon.svg);
    background-repeat: no-repeat;
    background-position: center center;
}
.specialist-card {
    border-bottom: 1px solid var(--colo-gray4);
    padding-bottom: 20px;
}
.specialist-card:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}
.specialist-actions {
    min-width: 535px;
}
.specialist-actions .price {
    color: var(--colo-gray3);
}
.specialist-actions-inner {
    border-bottom: 1px solid var(--colo-gray3);
}
.specialist-info .status {
    color: var(--colo-gray3);
}
.specialist-info .status.active {
    color: var(--color-green);
    padding: 2px 8px 2px;
    border-radius: 30px;
    border: 1px solid var(--color-green);
}
.specialist-info .person::before {
    content: '';
    width: 14px;
    height: 14px;
    display: inline-block;
    background-image: url(../images/icons/person-icon.svg);
    background-position: center center;
    background-repeat: no-repeat;
}
.specialist-info .mail::before {
    content: '';
    width: 14px;
    height: 14px;
    display: inline-block;
    background-image: url(../images/icons/email-icon.svg);
    background-position: center center;
    background-repeat: no-repeat;
}
.specialist-info .experience::before {
    content: '';
    width: 14px;
    height: 14px;
    display: inline-block;
    background-image: url(../images/icons/exp-icon.svg);
    background-position: center center;
    background-repeat: no-repeat;
}
.rating-block {
    cursor: pointer;
}
.rating-block span {
    color: var(--color-yellow);
}
.rating-block p {
    margin: 0;
}
.specialist-actions {
    border-radius: 15px;
    background-color: var(--colo-gray6);
    padding: 20px;
}
.primary-button {
    color: var(--color-green);
    border-radius: 100px;
    padding: 8px 12px;
    height: 36px;
    line-height: 18px;
    white-space: nowrap;
}
.primary-button.arrow,
.primary-button.back,
.primary-button.complete {
    display: flex;
    align-items: center;
    justify-content: center;
}
.primary-button.complete::after {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    left: 10px;  
    background-image: url(../images/icons/done-checkbox.svg);
    background-repeat: no-repeat;
    background-position: center center;
}
.primary-button.back::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 6px;  
    background-image: url(../images/icons/select-arrow.svg);
    background-repeat: no-repeat;
    background-position: center center;
    transform: rotate(90deg);
}
.primary-button.arrow::after {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 6px;  
    background-image: url(../images/icons/select-arrow.svg);
    background-repeat: no-repeat;
    background-position: center center;
    transform: rotate(-90deg);
}
.primary-button.fill {
    color: var(--color-white);
    border: 1px solid var(--color-green);
    background-color: var(--color-green);
}
.primary-button.bordered {
    border: 1px solid var(--color-green);
    background-color: var(--color-white);
}
.blue-button {
    color: var(--color-blue);
    border-radius: 100px;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    line-height: 18px;   
    border: 1px solid var(--color-blue);
    background-color: var(--color-white);
    white-space: nowrap;
}
.blue-button img {
    width: 16px;
    margin-right: 10px;
}
a.primary-link {
    text-decoration: none;
    color: var(--color-green);
    transition: var(--transition);
}
a.primary-link.blue {
    color: var(--color-blue);
}
a.primary-link:hover {
    text-decoration: none;
    color: var(--color-green-hover);
}
a.primary-link.blue:hover {
    color: var(--color-blue);
}
input[type=radio],
input[type=checkbox] {
    display: none;
}
.primary-input-radio {
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--colo-gray3);
    cursor: pointer;
}
.primary-input-radio::before {
    content: '';
    width: 16px;
    height: 16px;
    display: block;
    border-radius: 100%;
    box-shadow: 0 0 0 2px var(--colo-gray3);
    border: 3px solid var(--color-white);
    background-color: var(--color-white);
}
input:checked + .primary-input-radio::before {
    box-shadow: 0 0 0 2px var(--color-green);
    background-color: var(--color-green);
}
input:checked + .primary-input-radio {
    color: var(--color-green);
}
.primary-input-check {
    cursor: pointer;
}
.primary-input-check::before {
    content: '';
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    top: 3px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid var(--color-green);
    background-color: var(--color-white);
    background-image: url(../images/icons/done-checkbox.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 15px;
}
input:checked + .primary-input-check::before {
    background-color: var(--color-green);
}
.favorite-button {
    border: 0;
    background-color: transparent;
    margin-left: auto;
}
.favorite-button path {
    transition: var(--transition);
}
.favorite-button.active path {
    fill: var(--colo-gray1);
}
.rating-block {
    border-radius: 5px;
    padding: 10px;
    background-color: var(--colo-gray6);
    width: fit-content;
}
.auth-block {
    max-width: 500px;
    margin: 0 auto;
    padding: 50px;
}


@media (max-width: 787px) {
    h1.title {
        font-size: 28px;
    }
    h2.title {
        font-size: 20px;
    }
    p.text-l {
        font-size: 18px;   
    }
    p.text-m {
        font-size: 16px;  
    }
    p.text-s {
        font-size: 12px;
    }
    
}